@charset "utf-8";

:root {
  --bg-color: #FFFFFF;
  --text-color: rgba(0, 0, 0, 0.87);
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Avenir", sans-serif;
}

a:link {
  color: #337AB7;
}

a:visited {
  color: #733EA5;
}

.wrapper {
  margin: 0 auto;
  max-width: 62.5rem; /* 1000px */
  padding: 0 4%;
}

.site-title {
  font-family: "Courier New", monospace;
  font-size: 1.25rem;
}

.site-title a {
  color: inherit;
  text-decoration: none;
}
